.app-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.job-offers {
  display: flex;
  width: 80%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1em;
  border-radius: 50px 50px 0 0;
  border: none;
  box-shadow: 0px 5px 10px #e9e7e7;
  background-color: #ffffff;
  height: 95%;
}

.title-my-offers {
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


.my-offers {
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2em;
  border-radius: 20px;
  border: none;
  background-color: #f7f7f7;
  padding: 1.5em 1.5em 0 1.5em;
}

.my-offers > * {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 720px) {
  .job-offers{
    width: 96%;
  }
  .my-offers{
    width: 90%;
  }
  .my-offers__city__and__date {
    display: inline-block;
    text-align: left;
  }
  .my-offers__date  {
    padding-top: 1em;
    justify-content: flex-start;
    display: inline-block;
  }
  .my-offers__city{
    padding-bottom: 1em;
  }

  .my-offers__trash__and__pen__icons{
    padding-top: 1em;
  }

}

.my-offers__date {
  justify-content: flex-end;
  flex-direction: row;
  border-radius: 10px;
  color: #9b9b9b;
  display: flex;
  font-family: Montserrat;
  font-size: 0.8em;
  min-width: 30%;
}

.my-offers__date b {
  margin-left: 0.3em;
}

.my-offers__city .fa-location-dot {
  color: #ffc370;
  padding-right: 0.4em;
}

.fa-pen-to-square {
  padding-right: 1em;
}

.my-offers__trash__and__pen__icons {
  justify-content: flex-end;
  flex-direction: row;
  padding-bottom: 1em;
  text-align: right;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  color: #cccccc;
}

.my-offers__city{
  font-family: Montserrat;
  color: #9b9b9b;
  font-weight: 500;
  font-size: 1em;
}

.position-name {
  justify-content: flex-start;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.1em;
  color: #202020;
  text-align: left;
  min-width: 80%;
  padding-top: 1.5em 
}
