html {
  overflow: hidden;
}

.container {
  padding: 50px 50px 25px 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.square {
  background-color: white;
  box-shadow: 0px 5px 10px #e9e7e7;
  height: auto;
  border-radius: 2.5em;
  text-align: center;
  float: left;
  padding: 2em 2em 1em 2em;
}

.square h3 {
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

@media (max-width: 500px) {
  .container {
    padding: 0 !important;
  }

  .square * {
    font-size: 0.8em !important;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    padding: 1em;
    gap: 1em;
  }

  .square {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8em;
  }

  .square.left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .square.left > div {
    width: 30%;
    margin: 1%;
  }

  .square * {
    font-size: 0.9em;
  }

  .square.left .Tresc:disabled {
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .square .Tresc {
    margin-bottom: 0.5em;
  }

  .square.left .Image {
    width: 100%;
    max-width: 200px;
    height: auto;
    align-self: center;
  }

  .image-container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.Image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 1em;
  box-shadow: 0px 5px 10px #e9e7e7;
}

.Tresc {
  background-color: #f7f7f7;
  color: #878787;
  padding: 1em;
  width: 100%;
  border: none;
  margin-bottom: 1em;
  box-sizing: border-box;
  text-align: justify;
  border-radius: 1em;
}

.profile .Tresc {
  background-color: transparent;
}

.square h3:nth-child(1) {
  margin-top: 0px;
}

textarea {
  resize: none;
  max-height: 48%;
  height: 200px;
}

textarea.Tresc {
  border-radius: 0 0 1em 1em;
}

button {
  font-family: Urbanist;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 800;
  padding: 0.4em 1em;
  color: #ffffff;
  background-color: #202020;
  border: none;
  letter-spacing: 0.1em;
}

.right p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #202020;
  text-align: left;
  padding-left: 0.5em;
}

.left p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #202020;
  text-align: left;
}

.editProfileTextarea {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  background-color: #e1e1e1;
  padding: 0.6em;
  align-content: center;
  text-align: center;
  color: #202020;
  box-sizing: border-box;
}

.editProfileTextarea i {
  visibility: hidden;
}