* {
  font-family: "Montserrat", sans-serif;
}
.square {
  background-color: white;
  box-shadow: 0px 5px 10px #e9e7e7;
  border: none;
  width: 60%;
  max-width: 550px;
  height: auto;
  border-radius: 2.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 3em auto 0 auto;
  padding: 0.5em;
}

.square.login {
  max-width: 420px;
  margin: 5em auto 0 auto;
}

@media only screen and (max-width: 720px) {
  .square {
    width: 100%;
    box-sizing: border-box;
  }
}

.square.error-message {
  margin-top: 1em;
  margin-bottom: -3em;
  width: 420px;
  font-weight: bold;
  border-radius: 1em;
  padding: 0.5em;
}

.square.login > p {
  margin-bottom: 2em;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 2em;
}

.login .form-inputs > div,
.login input {
  width: 100%;
}

.form-inputs > div.no-margin {
  margin-bottom: 0;
}

.form-inputs > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.25em;
}

.form-inputs > div:last-child {
  margin-bottom: 0;
}

.form-inputs .error-message {
  width: 100%;
  color: rgb(215, 86, 86);
  text-align: left;
  font-size: 0.8em;
  padding: 0.4em 0 0 0.4em;
}

.square .forgotpassword p {
  font-size: 0.75em;
  font-weight: 600;
  text-align: right;
  letter-spacing: 0px;
}

.square .forgotpassword a {
  text-decoration: none;
  color: #202020;
}

.square p {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.Company,
.Password {
  background-color: #f7f7f7;
  border-radius: 1em;
  font-size: 1em;
  padding: 1.25em;
  border: none;
  align-items: center;
  display: inline-block;
  box-sizing: border-box;
}

.jakasKlasa {
  background-color: #f7f7f7;
}

.Company {
  width: 100%;
}

.Password {
  width: 44%;
}

.policy-container {
  display: flex;
  align-items: center;
  padding: 0 2em;
}

.policy-container label {
  font-size: 0.6em;
  margin-left: 0.25em;
}

.buttonRegister,
.buttonLogin {
  border-radius: 1em;
  background-color: #202020;
  width: 50%;
  border: none;
  color: white;
  padding: 1em;
  margin: 1.25em auto 1em auto;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}
