html,
body {
  margin: 0;
  padding: 0;
}


body {
  background-color: #f7f7f7;
}

header {
  display: flex;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 5px 10px #e9e7e7;
  padding: 0 0.5em;
  background-color: #fff;
  flex-wrap: wrap;
}

header > * {
  display: flex;
  align-items: center;
}

.dark-mode-container {
  justify-content: flex-start;
  width: 25%;
}

.dark-mode-switcher {
  width: 75px;
  display: flex;
  height: 30px;
  border-radius: 1em;
  background-color: rgb(209, 209, 209);
  align-items: center;
  padding: 0 4px;
  cursor: pointer;
}

.dark-mode-toggler {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: all 0.5s;
}

.dark-mode-switcher.active .dark-mode-toggler {
  margin-left: 50px;
}

.logo-container {
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.app-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.app-content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.navigation {
  justify-content: flex-end;
  width: 25%;
}

.navigation button {
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  border-radius: 1em;
  border: none;
  background-color: white;
  font-size: 1.2em;
  padding: 0.5em 0.75em;
  box-shadow: 0px 3px 7px 2px #e9e7e7;
  margin: 0 0.5em;
  cursor: pointer;
}
