html,
body {
  margin: 0;
  padding: 0;
}


body {
  background-color: #f7f7f7;
}

header {
  display: flex;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 5px 10px #e9e7e7;
  padding: 0 0.5em;
  background-color: #fff;
  flex-wrap: wrap;
}

header > * {
  display: flex;
}

.dark-mode-container {
  justify-content: flex-start;
  margin-top: 3em;
  width: 30%;
}

.dark-mode-switcher {
  width: 75px;
  display: flex;
  height: 30px;
  border-radius: 1em;
  background-color: rgb(209, 209, 209);
  align-items: center;
  padding: 0 4px;
  cursor: pointer;
}

.dark-mode-toggler {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: all 0.5s;
}

.dark-mode-switcher.active .dark-mode-toggler {
  margin-left: 50px;
}

.logo-container {
  flex-direction: column;
  width: 40%;
  margin-top: 0.5em;
}

.app-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.app-content {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.navigation {
  justify-content: flex-end;
  width: 25%;
  
}

.navigation button {
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  border-radius: 1em;
  border: none;
  background-color: white;
  font-size: 1.2em;
  padding: 0.5em 0.75em;
  box-shadow: 0px 3px 7px 2px #e9e7e7;
  margin: 0 0.5em;
  cursor: pointer;
}

.navigationAfter {
  justify-content: flex-end;
  width: 30%;
  margin-top: 2.5em;
  text-align:center;
  
}

.navigationAfter button {
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  border-radius: 20px;
  border: none;
  background-color: white;
  font-size: 1.2em;
  padding: 0.5em 1em 0.5em 2.5em;
  margin: 0 0.5em;
  box-shadow: 0px 3px 7px 2px #e9e7e7;
  cursor: pointer;
}


.navigationContent{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.liContent{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.navigationContent i {
  position: absolute;
  left: 0;
  color: #9B9B9B;
  padding: 0.85em 1em;
}

.navigationContent .fa-plus{
  color: #FFC370;
}

.navigationContent .fa-user{
  color: #FFC370;
}

ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    left: 0;
    text-align:center;
    display: inline-block;
}
ol a{
    display: block;
}
ol > li{
    
    float: left;
}
ol > li > ul{
    text-align:center;
}

ol > li > ul > li{
    text-align:center;
} 
ol i{
    flex-direction: column;
    justify-content: center;
}


ol > li > ul{
  list-style-type: none;
  
}
ul li{
    position: relative;
    z-index: 100;
}
a{
    text-decoration: none;
}

 ol > li > ul{
   
    justify-content: center;
 
}
  

ol > li:hover > ul{
  display: block;
}