<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static '/styles/style.css' %}" />
    {% block styles %}{% endblock %}
    {% block title %}{% endblock %}

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Urbanist:wght@400;800&display=swap"
      rel="stylesheet"
      />
      <script defer src="{% static '/scripts/scripts.js' %}"></script>
      {% block scripts %}{% endblock %}
  </head>

  <body>
    <div class='success-message-container'>
      <div class='success-message-content'>
        {{ success_message }}
      </div>
    </div>
    <header>
      <div class="dark-mode-container">
        <div class="dark-mode-switcher">
          <div class="dark-mode-toggler"><i class="fa-solid fa-sun"></i></div>
        </div>
      </div>
      <div class="logo-container">
        <a href="/">
          <img height="64px" src="{% static '/images/logo_gimme.png'  %}"/>
        <div class="app-title">GIMME JOB<span class='gold'>&bull;</span>TODAY</div></a>
      </div>
    {% if user.is_authenticated %}
        {% include "nav-logged.html" %}
    {% else %}
        {% include "nav-unlogged.html" %}
    {% endif %}
    </header>
    <section class="app-content">
      {% block content %}NIE PODANO CONTENTU{% endblock %}
    </section>
  </body>
</html>
