{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/add_offer.css' %}" />{% endblock %}
{% block title %}<title>Dodaj ofertę</title>{% endblock %}
{% block content %}

<div class="add-offer__contener">

    <div class="add-offer__frame">

        
        <div class="add-offer__title">Edytuj ofertę</div>


        <div class="add-offer__profession">
            <p>Nazwa stanowiska</p>
            <input type="text" class="add-offer__profinput" placeholder="Doradca finansowy klienta"/>
        </div>


        <div class="add-offer-options">
            <div class="add-offer-option_one">
                <p>Forma zatrudnienia</p>
                <div class="add-offer-option__select">
                    <select name="type-employment" id="type-employment">
                        <option value="Umowa zlecenie">Umowa zlecenie</option>
                        <option value="Umowa o pracę">Umowa o pracę</option>
                    </select>
                      <!-- <i class="fa-solid fa-angle-down fa-xl"></i>--> 
                </div>
            </div>
            <div class="add-offer-option__two">
                <p>Tryb pracy</p>
                <div class="add-offer-option__select">
                    <select name="mode-employment" id="mode-employment">
                        <option value="Praca zdalna">Praca zdalna</option>
                        <option value="Praca z biura">Praca z biura</option>
                    </select>
                  <!-- <i class="fa-solid fa-angle-down fa-xl"></i>--> 
                </div>
            </div>
            <div class="add-offer-option__three">
                <p>Wymiar pracy</p>
                <div class="add-offer-option__select">
                    <select name="hour-employment" id="hour-employment">
                        <option value="1/4">1/4 etatu</option>
                        <option value="1/2">Pół etatu</option>
                    </select>
                      <!-- <i class="fa-solid fa-angle-down fa-xl"></i>--> 
                </div>
            </div>
        </div>


        <div class="add-offer-salary">
            <div class="add-offer-salary__min">
                <p>Minimalne wynagrodzenie brutto</p>
                <div class="add-offer-salary__position">
                    <div class="add-offer-salary__zl">zł</div>
                    <input class="add-offer-salary__input" type="text"/>
                </div>
            </div>
            <div class="add-offer-salary__max">
                <p>Maksymalne wynagrodzenie brutto</p>
                <div class="add-offer-salary__position">
                    <div class="add-offer-salary__zl">zł</div>
                    <input class="add-offer-salary__input" type="text"/>
                </div>
            </div>
        </div>


        <div class="add-offer__location">
            <p>Lokalizacja pracy</p>
            <input class="add-offer__locationinput" type="text" placeholder="Warszawa"/>
        </div>

        
       


        <div class="add-offer-contact">
            <div class="add-offer-contact__email">
                <div class="add-offer-contact__position">
                    <p>Adres e-mail kontaktowy</p>
                    <input class="add-offer-contact__input" type="mail"/>
                </div>
            </div>
            <div class="add-offer-contact__phone">
                <div class="add-offer-contact__position">
                    <p>Numer telefonu kontaktowy</p>
                    <input class="add-offer-contact__input" type="tel"/>
                </div>
            </div>
        </div>


        <div class="add-offer-descripttags">
            <div class="add-offer-descripttags__desc">
                <p>Opis stanowiska</p>
                <div class="add-offer-descripttags__textarea">
                    <i class="fa-solid fa-b fa-sm"></i>
                    <i class="fa-solid fa-list-ul fa-sm"></i>
                </div>
                <textarea></textarea>
            </div>

            
                <div class="add-offer-tags">
                    <p>Tagi oferty</p>
                    <div class="add-offer-option__select">
                        <select name="tags" id="tags">
                            <option value="Bankowość">Bankowość</option>
                            <option value="IT">IT</option>
                        </select>
                        <!-- <i class="fa-solid fa-angle-down fa-xl"></i>--> 
                    </div>

                    <div class="add-offer-tags__chosen">
                        <p>Wybrane tagi oferty:</p>

                    </div>
                
                </div>

            
        </div>


       <input type="submit" class="add-offer__submit" value="Edytuj">
    </div>
</div>

{% endblock %}