<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/index.css' %}" />{% endblock %}
{% block title %}<title>Gimme-job.today</title>{% endblock %}
{% block content %}
<div class="searching">
  <div class="searchContent">
    <input
      type="text"
      name="search"
      class="search"
      placeholder="Szukaj"
    />
    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
  </div>

  <div class="filterContent">
 
    <button class="buttonFilter">Więcej filtrów</button>
    <i class="fa-solid fa-angle-down fa-xl"></i>
  </div>
  
    <button class="buttonSearch">Szukaj</button>
</div>

<div class="appointmentAll">
  <div class="appointmentsContent">

    <div class="appointment">
      <div class="logo">
        <img height="64px" src="{% static '/images/logolidl.png'  %}"/>
      </div>
      <div class="appointmentMain">
        <div class="appointmentTitle">
          <div class="iconsWalletCity">
            <i class="fa-solid fa-location-dot fa-xl"></i>Warszawa
            <i class="fa-solid fa-wallet fa-xl"></i>5000 zł
          </div>
          <div class="appointmentTags">Bankowość</div>
          <div class="appointmentTags">Finanse</div>
          <div class="appointmentTags">Podatki</div>
        </div>

        <div class="appointmentContentButton">
          <div class="positionJob">Junior Full Stack Developer</div>
          <button class="buttonAppointment">Szczegóły</button>
        </div>
      </div>
    </div>

    <div class="appointment">
      <div class="logo">
        <img height="64px" src="{% static '/images/logolidl.png'  %}"/>
      </div>
      <div class="appointmentMain">
        <div class="appointmentTitle">
          <div class="iconsWalletCity">
            <i class="fa-solid fa-location-dot fa-xl"></i>Warszawa
            <i class="fa-solid fa-wallet fa-xl"></i>5000 zł
          </div>
          <div class="appointmentTags">Bankowość</div>
          <div class="appointmentTags">Finanse</div>
          <div class="appointmentTags">Podatki</div>
        </div>

        <div class="appointmentContentButton">
          <div class="positionJob">Junior Full Stack Developer</div>
          <button class="buttonAppointment">Szczegóły</button>
        </div>
      </div>
    </div>

  </div> 

  <div class="appointmentDetails">
      <div class="detailsTags">
          <p>Tagi</p>
      </div>

      <div class="detailsLogoTitle">
        <div class="detailsLogo">
          <img src="{% static '/images/logolidl.png'  %}"/>
        </div>

        <div class="detailsTitle">

          <div class="detailsPositionJob">Junior Full Stack Developer</div>
          <div class="iconsWalletBuilding">
            <i class="fa-solid fa-building fa-xl"></i>Santander Bank Polska
            <i class="fa-solid fa-wallet fa-xl"></i>5000 zł
          </div>
          
        </div>
      </div>

      <div class="detailsIcons">
        <div class="iconsText">
          <div class="icons">
            <i class="fa-solid fa-file-contract fa-xl"></i>
          </div>
          <p>Umowa zlecenie</p>
        </div>
        <div class="iconsText">
          <div class="icons">
            <i class="fa-solid fa-clock fa-xl"></i>
          </div>
          <p>Niepełny etat</p>
        </div>
        <div class="iconsText">
          <div class="icons">
            <i class="fa-solid fa-gauge fa-xl"></i>
          </div>
          <p>Praca zdalna</p>
        </div>
        <div class="iconsText">
          <div class="icons">
            <i class="fa-solid fa-location-dot fa-xl"></i>
          </div>
          <p>Warszawa</p>
        </div>
        <div class="iconsText">
          <div class="icons">
            <i class="fa-solid fa-hourglass fa-xl"></i>
          </div>
          <p>28 dni</p>
        </div>

      </div>

      <div class="profession">
        <p class="titleProfession">Opis stanowiska</p>
        <p class="descriptionProfession">Lorem Ipsum is simply dummy te It was popularised in the 196ly dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of  cmore recg versions of Lorem Ipsum.</p>
      </div>

      
      <div class="profession">
        <p class="titleProfession">Opis firmy</p>
        <p class="descriptionProfession">Lorem Ipsum is simply dummy te It was popularised in ths of Lor the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of  cmore recg versions of Lorem Ipsum.</p>
      </div>
    
  
  </div>

  
</div>
{% endblock %}
