<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/index.css' %}" />{% endblock %}

{% block scripts %}
<script defer src="{% static '/scripts/load-offer-details.js' %}"></script>
{% endblock %}

{% block title %}<title>Gimme-job.today</title>{% endblock %}
{% block content %}

<div class="all-main-site">
  <div class="searching-content">
    <div class="search-engine">
      <input
        type="text"
        name="search-engine__input"
        class="search-engine__input"
        placeholder="Szukaj"
      />
      <i class="fa-solid fa-magnifying-glass fa-xl"></i>
    </div>

    <div class="filter-content">
      <button class="filter-content__button">Więcej filtrów</button>
     <!-- <i class="fa-solid fa-angle-down fa-xl"></i>-->
    </div>

      <button class="searching-content__button">Szukaj</button>
  </div>

  <div class="all-offers">
    <div class="offer-content">

      {% for offer in offers %}
      <div class="offer">
          <div class="offer__logo">
            <img height="64px" src="{{offer.company.logo_url_or_default}}"/>
          </div>
          <div class="offer__content">
              <div class="offer__title">
                <div class="offer__icons">
                    <div class="offer__icons-fa"><i class="fa-solid fa-location-dot fa-xl"></i>{{offer.city}}</div>
                    <div class="offer__icons-fa"><i class="fa-solid fa-wallet fa-xl"></i>{{offer.salary_min}}-{{offer.salary_max}} zł</div>
                </div>

                <div class="offer__tags-content">
                {% for tag in offer.tags.all %}
                    <div class="offer__tag" style="background-color: {{tag.color}};">{{tag.text}}</div>
                {% endfor %}
                </div>

              </div>

              <div class="offer__content-job-button">
                <div class="offer__job">{{offer.position}}</div>
                <button class="offer__show-details-button" data-offer-id="{{offer.id}}">Szczegóły</button>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>

    <div class="offer-details" style="visibility: hidden;">
        <div class="offer-details__tags"></div>

        <div class="offer-details__logo-and-title">
          <div class="offer-details__logo">
            <img src=""/>
          </div>

          <div class="offer-details__title">

            <div class="offer-details__job"></div>
            <div class="offer-details__icons">
                <div class="offer__icons-fa"><i class="fa-solid fa-building fa-xl"></i><span class="offer-details__company-name"></span></div>
                <div class="offer__icons-fa"><i class="fa-solid fa-wallet fa-xl"></i><span class="offer-details__salary"></span></div>
            </div>

          </div>
        </div>

        <div class="offer-details__icons-content">
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-file-contract fa-xl"></i>
            </div>
            <p class="offer-details__contract-type"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-clock fa-xl"></i>
            </div>
            <p class="offer-details__work-time"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-gauge fa-xl"></i>
            </div>
            <p class="offer-details__work-mode"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-location-dot fa-xl"></i>
            </div>
            <p class="offer-details__city"></p>
          </div>

        </div>

        <div class="profession">
          <p class="profession__title">Opis stanowiska</p>
          <p class="offer-details__position-description"></p>
        </div>


        <div class="profession">
          <p class="profession__title">Opis firmy</p>
          <p class="offer-details__company-description"></p>
        </div>

        <div class="profession">
          <small><span class="offer-details__visit-counter"></span> wyświetleń</small>
        </div>

        <div class="offer-details__button-content">
          <button class="offer-details__button">Skontaktuj się</button>
        </div>



    </div>


  </div>
</div>
{% endblock %}
