<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/index.css' %}" />
<link rel="stylesheet" href="{% static '/styles/add_offer.css' %}" />

{% endblock %}

{% block scripts %}
<script defer src="{% static '/scripts/load-offer-details.js' %}"></script>
<script defer src="{% static '/scripts/autocomplete.js' %}"></script>
{% endblock %}

{% block title %}<title>Gimme-job.today</title>{% endblock %}
{% block content %}

<div class="all-main-site">

  <div class="filter-tags__chosen">
    <div id="selectedTags">
    </div>
  </div>

  <div class="searching-content">

    <div class="searching-content_filter">

      <div class="search-engine">
        <input
          type="button"
          name="search-engine__input"
          id = "search-engine__button"
          class="search-engine__input"
          value="Kliknij, aby rozwinąć filtry"/>
        <i class="fa-solid fa-angle-down fa-xl" id="fa-angle-down" style="visibility: visible;"></i>
        <i class="fa-solid fa-xmark fa-xl" id="fa-xmark" style="visibility: hidden;"></i>
      </div>
      <form method="post" name="filter_offer">
        {% csrf_token %}
        <div class="filter" id="filter" style="visibility: hidden;">
            <input class="hiddenInput" id="hiddenInput" name="filterTagIds">

          <div class="filter-content">
            <form autocomplete="off">
            <div class="filter-tags" id="add-offer-tags">
                  <div class="add-offer-tags-autocomplete">
                      <p>Tagi oferty</p>
                      <input type="text" name="tagCaption" class="add-offer-tags-autocomplete__input" placeholder="Tag">
                  </div>
                  <input type="button" id="addTag" class="filter-tag__submit" value="Wybierz tag">
            </div>
            </form>
          </div>

          <div class="filter-content">
            <div class="filter__profession">
                <div class="filter__position">
                    <p>Nazwa stanowiska</p>
                    <input class="filter__professioninput" name="filterProfession" type="text" placeholder="Grafik"/>
                </div>
            </div>
            <div class="filter__location">
                <div class="filter__position">
                    <p>Lokalizacja pracy</p>
                    <input class="filter__positioninput" name="filterLocation" type="text" placeholder="Warszawa" pattern="[\w\p{L}]+" title="Tylko litery." minlength="2" maxlength="40" />
                </div>
            </div>
          </div>

          <div class="filter-options">
            <div class="filter-option_one">
              <p>Forma zatrudnienia</p>
              <div class="add-offer-option__select">
                {% for contract_value, contract_label in contract_types %}
                  <input type="checkbox" name="filterContract" value="{{contract_value}}">{{contract_label}}<br>
                {% endfor %}
              </div>
            </div>

            <div class="filter-option__two">
              <p>Wymiar pracy</p>
              <div class="add-offer-option__select">
                {% for work_time_value, work_time_label in work_times %}
                  <input type="checkbox" name="filterTime" value="{{work_time_value}}">{{work_time_label}}<br>
                {% endfor %}
              </div>
            </div>

            <div class="filter-option__three">
              <p>Tryb pracy</p>
              <div class="add-offer-option__select">
                {% for work_mode_value, work_mode_label in work_modes %}
                  <input type="checkbox" name="filterMode" value="{{work_mode_value}}">{{work_mode_label}}<br>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="filter-content">

            <div class="filter__profession">
              <div class="filter__position">
                <p>Minimalne wynagrodzenie brutto</p>
                <input type="range" id="slider-min" class="slider" min="100" max="10000" value="100" step="100" name="filterMinSalary">
                <span id="slider-salary-min" class="slider-salary">100</span> zł
              </div>
            </div>

            <div class="filter__location">
              <div class="filter__position">
                <p>Maksymalne wynagrodzenie brutto</p>
                <input type="range" id="slider-max" class="slider" min="100" max="10000" value="10000" step="100" name="filterMaxSalary">
                <span id="slider-salary-max" class="slider-salary">10000</span> zł
              </div>
            </div>
          </div>

          <div class="search-button">
            <input type="submit" class="searching-content__button" value="Szukaj"/>
          </div>

        </div>
      </form>



    </div>



  </div>

  <div class="all-offers">
    <div class="offer-content">

      {% for offer in offers %}
      <div class="offer">
          <div class="offer__logo">
            <img height="64px" src="{{offer.company.logo_url_or_default}}"/>
          </div>
          <div class="offer__content">
              <div class="offer__title">
                <div class="offer__icons">
                    <div class="offer__icons-fa"><i class="fa-solid fa-location-dot fa-xl"></i>{{offer.city}}</div>
                    <div class="offer__icons-fa"><i class="fa-solid fa-wallet fa-xl"></i>{{offer.salary_min}}-{{offer.salary_max}} zł</div>
                </div>

                <div class="offer__tags-content">
                {% for tag in offer.tags.all %}
                    <div class="offer__tag" style="background-color: {{tag.color}};">{{tag.text}}</div>
                {% endfor %}
                </div>

              </div>

              <div class="offer__content-job-button">
                <div class="offer__job">{{offer.position}}</div>
                <button class="offer__show-details-button" data-offer-id="{{offer.id}}">Szczegóły</button>
              </div>
          </div>
      </div>


      <div class="offer-details offer-below" id="{{offer.id}}" name="offer-below" style="visibility: hidden; display: none;">
        <div class="offer-details__tags"></div>

        <div class="offer-details__logo-and-title">
          <div class="offer-details__logo">
            <img src=""/>
          </div>

          <div class="offer-details__title">

            <div class="offer-details__job"></div>
            <div class="offer-details__icons">
                <div class="offer__icons-fa"><i class="fa-solid fa-building fa-xl"></i><span class="offer-details__company-name"></span></div>
                <div class="offer__icons-fa"><i class="fa-solid fa-wallet fa-xl"></i><span class="offer-details__salary"></span></div>
            </div>

          </div>
        </div>

        <div class="offer-details__icons-content">
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-file-contract fa-xl"></i>
            </div>
            <p class="offer-details__contract-type"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-clock fa-xl"></i>
            </div>
            <p class="offer-details__work-time"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-gauge fa-xl"></i>
            </div>
            <p class="offer-details__work-mode"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-location-dot fa-xl"></i>
            </div>
            <p class="offer-details__city"></p>
          </div>

        </div>

        <div class="profession">
          <p class="profession__title">Opis stanowiska</p>
          <p class="offer-details__position-description"></p>
        </div>


        <div class="profession">
          <p class="profession__title">Opis firmy</p>
          <p class="offer-details__company-description"></p>
        </div>

        <div class="profession">
          <small><span class="offer-details__visit-counter"></span> wyświetleń</small>
        </div>

        <div class="offer-details__button-content">
          <a class="offer-details__button" onclick="openContactMail()">Skontaktuj się</a>
        </div>



      </div>

      {% endfor %}
    </div>

    <div class="offer-details" id="offer-details-max" style="visibility: hidden;">
        <div class="offer-details__tags"></div>

        <div class="offer-details__logo-and-title">
          <div class="offer-details__logo">
            <img src=""/>
          </div>

          <div class="offer-details__title">

            <div class="offer-details__job"></div>
            <div class="offer-details__icons">
                <div class="offer__icons-fa"><i class="fa-solid fa-building fa-xl"></i><span class="offer-details__company-name"></span></div>
                <div class="offer__icons-fa"><i class="fa-solid fa-wallet fa-xl"></i><span class="offer-details__salary"></span></div>
            </div>

          </div>
        </div>

        <div class="offer-details__icons-content">
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-file-contract fa-xl"></i>
            </div>
            <p class="offer-details__contract-type"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-clock fa-xl"></i>
            </div>
            <p class="offer-details__work-time"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-gauge fa-xl"></i>
            </div>
            <p class="offer-details__work-mode"></p>
          </div>
          <div class="offer-details__icons-content-text">
            <div class="icons">
              <i class="fa-solid fa-location-dot fa-xl"></i>
            </div>
            <p class="offer-details__city"></p>
          </div>

        </div>

        <div class="profession">
          <p class="profession__title">Opis stanowiska</p>
          <p class="offer-details__position-description"></p>
        </div>


        <div class="profession">
          <p class="profession__title">Opis firmy</p>
          <p class="offer-details__company-description"></p>
        </div>

        <div class="profession">
          <small><span class="offer-details__visit-counter"></span> wyświetleń</small>
        </div>

        <div class="offer-details__button-content">
          <a class="offer-details__button" onclick="openContactMail()">Skontaktuj się</a>
        </div>



    </div>


  </div>
</div>
{% endblock %}
