{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Logowanie</title>{% endblock %}
{% block content %}

<div class="square login">
    <form method="post">
        {% csrf_token %}
        <p>Zaloguj się</p>
        <div class="form-inputs">
            <div>
                <input type="email" name="email" class="form-inputs__company__name" placeholder="E-mail" required placeholder="email@gmail.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Format mail@nazwapoczty.pl."/>
            </div>
            <div class="no-margin">
                <input type="password" name="password" class="form-inputs__password" placeholder="Hasło" required/>
            </div>

            {% for error_message in error_messages %}
            <span class="error-message">{{ error_message }}</span>
            {% endfor %}
            <input type="submit" class="button" value="Zaloguj się">
            <div class="login-forgot__password"> <a href="{% url 'password_reset' %}">
                    <p>Nie pamiętam hasła</p>
                </a></div>
        </div>
    </form>
</div>
{% endblock %}
