
{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Logowanie</title>{% endblock %}
{% block content %}

{% for error_message in error_messages %}
<div class="square">
    {{ error_message }}
</div>
{% endfor %}

<div class="square login">
    <form method="post">
        {% csrf_token %}
        <p>Zaloguj się</p>
        <div class="form-inputs">
            <input type="email" name="email" class="Company" placeholder="E-mail" />

            <input type="password" name="password" class="Password" placeholder="Hasło" />

            <input type="submit" class="buttonLogin" value="Zaloguj się">
            <div class = "forgotpassword"> <a href="/password-change"><p>Nie pamiętam hasła</p></a></div>
        </div>
    </form>
</div>
{% endblock %}
