<nav class="navigation navigation-unlogged">
  <a class="hide-medium-down" href="/register"><button>Zarejestruj się</button></a>
  <a class="hide-medium-down" href="/login"><button>Zaloguj się</button></a>
  <div class="nav-item meatballs-menu hide-medium-up">
    <i class="fa-solid fa-ellipsis fa-xl"></i>
    <div class="meatballs-menu-content hidden">
      <div class="arrow-up"></div>
      <a href="/register">Zarejestruj się</a>
      <a href="/login">Zaloguj się</a>
    </div>
  </div>
</nav>