<nav class="navigation-logged">
  <a class="nav-item" href="/add-offer">
    <i class="fa-solid fa-plus fa-xl"></i>
    Dodaj ofertę
  </a>

  <a class="nav-item" href="/profile">
    <i class="fa-solid fa-user fa-xl"></i>
    Profil
  </a>

  <div class="nav-item meatballs-menu">
    <i class="fa-solid fa-ellipsis fa-xl"></i>
    <div class='meatballs-menu-content hidden'>
        <div class='arrow-up'></div>
        <a href="/offers">Moje oferty</a>
        <a href="/edit-profile">Edytuj profil</a>
        <a href="/">Ustawienia</a>
        <a href="/" class='logout'>Wyloguj się</a>
    </div>
  </div>

  <div class="modal">
    <div class="modal-content square">
      <a class="BackLink" href="/"><i class="fa-solid fa-angle-left"></i>Wróć na stronę główną</a>
      <span class="SwitchOff">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  
  </div>

</nav>
