<nav class="navigation-logged">
  <a class="nav-item" href="/add-offer">
    <i class="fa-solid fa-plus fa-xl"></i>
    Dodaj ofertę
  </a>

  <a class="nav-item" href="/profile">
    <i class="fa-solid fa-user fa-xl"></i>
    Profil
  </a>

  <div class="nav-item meatballs-menu">
    <i class="fa-solid fa-ellipsis fa-xl"></i>
    <div class='meatballs-menu-content hidden'>
        <div class='arrow-up'></div>
        <a href="/offers">Moje oferty</a>
        <a href="/edit-profile">Edytuj profil</a>
        <a href="/">Ustawienia</a>
        <a href="logout" class='logout'>Wyloguj się</a>
    </div>
  </div>

  <div class="modalOffer">
    <div class="modal-content PopUp">
      <a class="BackLinkOffer"><i class="fa-solid fa-angle-left"></i>Wróć</a>
      <h3>Czy na pewno chcesz usunąć daną ofertę?</h3>
      <button class="ButtonDelete">Usuń</button>
    </div>
  </div>

  <div class="modalProfile">
    <div class="modal-content PopUp">
      <a class="BackLinkProfile"><i class="fa-solid fa-angle-left"></i>Wróć</a>
      <h4>Usuwanie konta</h4>
      <p>Po naciśnięciu przycisku Twoje konto wraz ze wszystkimi danymi zostanie trwale i nieodwracalnie usunięte</p>
      <div class="ConfirmLine">
        <p class="Label">Aby potwierdzić usunięcie wprowadź hasło</p>
        <input type="password" class="Password" name="Password" placeholder="Hasło">
      </div>
      <button class="ButtonDeleteProfile">Usuń</button>
    </div>
  </div>

</nav>
