{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Resetuj hasło</title>{% endblock %}
{% block content %}

<div class="square change-password">
    <form>
        <p>Resetuj hasło</p>
        <span class="description">Podaj adres e-mail, na który wyślemy link do zmiany hasła</span>
        <div class="form-inputs">
            <div class="no-margin"><input type="email" name="email" class="form-input" placeholder="E-mail" /></div>
            <div> <input type="button" name="Send" class="form-submit" value="Wyślij">
            </div>
        </div>
    </form>
</div>


{% endblock %}