{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Nowe hasło</title>{% endblock %}
{% block content %}

<div class="square login">
    <form method="POST">
        <p>Podaj nowe hasło </p>
        <div class='form-inputs'>

            {% csrf_token %}

            <div>{{ form.new_password1 }}</div>
            <div>{{ form.new_password2 }}</div>

            <input type="submit" class="buttonLogin" value="Zmień">
        </div>
    </form>
</div>


{% endblock %}
