{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Resetuj hasło</title>{% endblock %}
{% block content %}

<div class="square change-password">
    <form class="ChangePass-Form" method="POST">
        <p>Resetuj hasło</p>
        <span>Podaj adres e-mail, na który wyślemy link do zmiany hasła</span>
        <div class="form-inputs">
            {% csrf_token %}

            <div class="no-margin">{{ form.email }}</div>
            <input type="submit" name="Send" class="button" value="Wyślij">
        </div>
    </form>
</div>

{% endblock %}
