<table style="margin: 0 auto; text-align: center;" width="75%">
    <tr>
        <th>
            <div style="margin: 30px auto 0px auto; text-align: center;">
                <img src="https://raw.githubusercontent.com/gimme-job-today/gimme-job-today/main/static/images/logo_gimme.png" width="80" height="80" alt="Logo GimmeJobToday">
            </div>
            <div style="margin: 15px auto 0px auto; text-align: center;">
                <div
                    style="
                    font-family: Montserrat, sans-serif;
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #202020;
                    letter-spacing: 0.1em;
                    "
                >
                GIMME JOB
                <span
                    style="
                    color: #ffd166;
                    "
                >•</span>
                TODAY
                </div>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div
                style="
                    margin: 15px auto 0px auto;
                    padding: 0px 150px 0px 150px;
                    text-align: center;
                    color: #7e7e7e;
                    font-family: Arial, Helvetica, sans-serif;
                ">
                W celu resetu hasła proszę kliknąć w poniższy link:
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div style="margin: 50px auto 50px auto; text-align: center;">
                <a
                    style="
                        font-family: Arial, Helvetica, sans-serif;
                        border-radius: 10px;
                        font-size: 25px;
                        font-weight: 800;
                        padding: 0.5em 0.6em;
                        color: #ffffff;
                        background-color: #202020;
                        border: none;
                        text-decoration: none;
                    "
                    href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    Resetuj hasło
                </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div style="margin: 0px auto 0px auto; text-align: center;">
                <small
                    style="
                        font-family: Arial, Helvetica, sans-serif;
                        color: #999999;
                        text-decoration: none;
                    "
                >
                Pamiętaj, że twoja nazwa to <a style="text-decoration: underline;">{{ user.get_username }}</a>
                </small>
            </div>
        </th>
    </tr>
</table>
