{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/password_change.css' %}" />{% endblock %}
{% block title %}<title>Resetuj hasło</title>{% endblock %}
{% block content %}

<div class="square">
    <h3>Resetuj hasło</h3>
    <p class="Description">Podaj adres e-mail, na który wyślemy link do zmiany hasła</p>
    <form class="ChangePass-Form">
        <input type="email" name="email" class="Email" placeholder="E-mail" />
        <input type="button" name="Send" class="Send" value="Wyślij">
    </form>
</div>


{% endblock %}