{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Rejestracja</title>{% endblock %}

{% block scripts %}
<script defer src="{% static '/scripts/registration-validation.js' %}"></script>
{% endblock %}
{% block content %}

{% for error_message in error_messages %}
<div class="square">
    {{ error_message }}
</div>
{% endfor %}

<div class="square">
    <p>Zarejestruj się - Panel pracodawcy</p>
    <form name="register" method="post">
        {% csrf_token %}
        <div class="form-inputs">
            <input
            type="text"
            name="nameCompany"
            class="Company"
            placeholder="Nazwa firmy"
            required
            />
            <input
                type="email"
                name="email"
                class="Company"
                placeholder="E-mail"
                required
            />

            <input
                type="password"
                name="password"
                class="Password"
                placeholder="Hasło"
                required
            />
            <input
                type="password"
                name="passwordRepeat"
                class="Password"
                placeholder="Powtórz hasło"
                required
            />
        </div>

        <div class="policy-container">
            <input type="checkbox" name="acceptPolicyCheckbox" id="checkbox" required/>
            <label for="checkbox">
            Zapoznałem/am się i zgadzam się z treścią regulaminu serwisu oraz
            polityki prywatności.
            </label>
        </div>
        <input type="submit" class="buttonRegister" value="Zarejestruj się">
    </form>
</div>

{% endblock %}
