{% extends "base.html" %} 
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static '/styles/register.css' %}" />{% endblock %}
{% block title %}<title>Rejestracja</title>{% endblock %}
{% block content %}

<div class="square">
  <p>Zarejestruj się - Panel pracodawcy</p>
  <div class="form-inputs">
    <input
      type="text"
      name="nameCompany"
      class="Company"
      placeholder="Nazwa firmy"
    />
    <input type="email" name="email" class="Company" placeholder="E-mail" />

    <input
      type="password"
      name="password"
      class="Password"
      placeholder="Hasło"
    />
    <input
      type="password"
      name="passwordRepeat"
      class="Password"
      placeholder="Powtórz hasło"
    />
  </div>

  <div class="policy-container">
    <input type="checkbox" name="checkbox" id="checkbox" />
    <label for="checkbox"
      >Zapoznałem/am się i zgadzam się z treścią regulaminu serwisu oraz
      polityki prywatności.</label
    >
  </div>
  <a href="/logged"><button class="buttonRegister">Zarejestruj się</button></a>
</div>

{% endblock %}
